<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Elemine</title>
    <link type="text/css" rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <div class="frame">
      <div class="title">Elemine</div>
      <div class="window-button closer" onclick="window.close();">&times;</div>
    </div>
    <div class="page-content">
      <button id="launch-button">Играть</button>
    </div>
    <script>
      const launchButton = document.querySelector("#launch-button");
      const childProcess = require("child_process");
      const { promises: fs } = require("fs");

      const gameDirectory = "C:\\Users\\codesprut\\Desktop\\minecraft-client";

      const getLibrariesList = async path => {
        const entries = await fs.readdir(path, { withFileTypes: true });

        const files = entries
          .filter(file => !file.isDirectory())
          .map(file => path + "\\" + file.name);

        const folders = entries.filter(folder => folder.isDirectory());

        for (const folder of folders) {
          files.push(...(await getLibrariesList(`${path}\\${folder.name}`)));
        }

        return files;
      };

      const prepareArguments = async (userData, gameDirectory) => {
        const librariesPath = gameDirectory + "\\libraries";
        const jarList = await getLibrariesList(librariesPath);

        jarList.push(gameDirectory + "\\minecraft.jar");

        return [
          "-Xmn128M",
          "-Xms2G",
          "-Xmx2G",
          `-Djava.library.path=${gameDirectory}\\natives`,
          "-cp",
          jarList.join(";"),
          "net.minecraft.client.main.Main",
          "--username",
          userData.username,
          "--version",
          "vanila",
          "--gameDir",
          gameDirectory,
          "--assetsDir",
          `${gameDirectory}\\assets`,
          "--assetIndex",
          "1.16",
          "--uuid",
          userData.uuid,
          "--accessToken",
          userData.accessToken,
          "--userType",
          "offline",
          "--versionType",
          "release",
        ];
      };

      launchButton.onclick = async () => {
        launchButton.disabled = true;

        const processArguments = await prepareArguments(
          {
            username: "codesprut",
            uuid: "TmlsbA==",
            accessToken: "dummy_token",
          },
          gameDirectory,
        );

        const gameProcess = childProcess.spawn("java", processArguments, {
          cwd: gameDirectory,
          detached: true,
        });

        gameProcess.stdout.on("data", console.log);
        gameProcess.stderr.on("data", console.error);

        gameProcess.on("close", code => {
          launchButton.disabled = false;
          console.log("Process closed with code:", code);
        });
      };
    </script>
  </body>
</html>
