<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Elemine</title>
    <link type="text/css" rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <div class="frame">
      <div class="title">Elemine</div>
      <div class="window-button closer" onclick="window.close();">&times;</div>
    </div>
    <div class="page-content">
      <form id="run-game">
        <input id="nickname" type="text" required placeholder="Никнейм" />
        <button id="launch-button">Играть</button>
      </form>
    </div>
    <script>
      const { ipcRenderer } = require("electron");
      const runGameForm = document.querySelector("form#run-game");

      runGameForm.onsubmit = ev => {
        ev.preventDefault();

        ipcRenderer.send("run-game", {
          username: document.querySelector("input#nickname").value,
          uuid: "TmlsbA==",
          accessToken: "dummy_token",
        });
      };
    </script>
  </body>
</html>
