<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Elemine</title>
    <link type="text/css" rel="stylesheet" href="../styles/main.css" />
  </head>
  <body>
    <div class="frame">
      <div class="title">Elemine</div>
      <div class="window-button closer" onclick="window.close();">&times;</div>
    </div>
    <div class="page-content">
      <form id="run-game">
        <select id="server-list"></select>
        <input id="nickname" type="text" required placeholder="Никнейм" />
        <button id="launch-button">Играть</button>
        <span id="status">Подключение...</span>
      </form>
    </div>
    <script type="module">
      const { ipcRenderer } = require("electron");
      const runGameForm = document.querySelector("form#run-game");
      const statusBox = document.querySelector("#status");

      const serversList = [];

      ipcRenderer.on("loaded", (ev, { wsHost }) => {
        const client = new WebSocket(wsHost);

        client.onopen = () => {
          statusBox.innerHTML = "Соединение установлено";
        };

        client.onclose = event => {};

        client.onmessage = ({ data }) => {
          const message = JSON.parse(data);

          if (message.type === "servers-list") {
            serversList.push(...message.data);
          }
          ipcRenderer.send("server-updates", message);
        };

        client.onerror = () => {
          statusBox.innerHTML = "Ошибка подключения к серверу";
        };
      });

      runGameForm.onsubmit = ev => {
        ev.preventDefault();

        ipcRenderer.send("run-game", {
          userData: {
            username: document.querySelector("input#nickname").value,
            uuid: "TmlsbA==",
            accessToken: "dummy_token",
          },
          clientName: serversList[0].name,
        });
      };
    </script>
  </body>
</html>
