<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Elemine</title>
    <link type="text/css" rel="stylesheet" href="../styles/main.css">
</head>
<body>
<div class="frame">
    <div class="title">Elemine</div>
    <div class="window-button closer" onclick="window.close();">&times;</div>
</div>
</body>
</html>